<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.auth.common.dao.SysAclModuleMapper">

    <resultMap id="BaseResultMap" type="com.iflytek.auth.common.pojo.SysAclModule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="seq" column="seq" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,
        level,seq,status,
        remark,operator,operate_time,
        operate_ip
    </sql>
    <update id="updateAll">
        UPDATE sys_acl_module
        SET
        name = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.name}
        </foreach>
        END,
        parent_id = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.parentId}
        </foreach>
        END,
        level = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.level}
        </foreach>
        END,
        seq = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.seq}
        </foreach>
        END,
        status = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.status}
        </foreach>
        END,
        remark = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.remark}
        </foreach>
        END,
        operator = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.operator}
        </foreach>
        END,
        operate_time = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.operateTime}
        </foreach>
        END,
        operate_ip = CASE id
        <foreach collection="sysAclModules" item="module" separator=" ">
            WHEN #{module.id} THEN #{module.operateIp}
        </foreach>
        END
        WHERE id IN
        <foreach collection="sysAclModules" item="module" open="(" separator="," close=")">
            #{module.id}
        </foreach>
    </update>
    <select id="findAll" resultType="com.iflytek.auth.common.pojo.SysAclModule">
        select *
        from sys_acl_module
        where status = 1;
    </select>
    <select id="countByNameAndSeq" resultType="java.lang.Integer">
        select count(*)
        from sys_acl_module
        where (id = #{sysAclModuleDto.parentId} and name = #{sysAclModuleDto.name})
           or (id = #{sysAclModuleDto.parentId} and seq = #{sysAclModuleDto.seq})
    </select>
    <select id="findLevelById" resultType="java.lang.String">
        select level
        from sys_acl_module
        where id = #{id};
    </select>
    <select id="countChilds" resultType="java.lang.Integer">
        select count(*)
        from sys_acl_module
        where parent_id = #{moduleId};
    </select>
    <select id="countAcls" resultType="java.lang.Integer">
        select count(*)
        from sys_acl
        where acl_module_id = #{moduleId}
    </select>
</mapper>
