<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.auth.common.dao.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.iflytek.auth.common.pojo.SysDept">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="seq" column="seq" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,
        level,seq,remark,
        operator,operate_time,operate_ip
    </sql>
    <update id="updateAll">
        UPDATE sys_dept
        SET
        name = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.name}
        </foreach>
        END,
        parent_id = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.parentId}
        </foreach>
        END,
        level = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.level}
        </foreach>
        END,
        seq = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.seq}
        </foreach>
        END,
        remark = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.remark}
        </foreach>
        END,
        operator = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.operator}
        </foreach>
        END,
        operate_time = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.operateTime}
        </foreach>
        END,
        operate_ip = CASE id
        <foreach collection="sysDepts" item="dept" separator=" ">
            WHEN #{dept.id} THEN #{dept.operateIp}
        </foreach>
        END
        WHERE id IN
        <foreach collection="sysDepts" item="dept" open="(" separator="," close=")">
            #{dept.id}
        </foreach>
    </update>
    <select id="findByNameAndSeq" resultType="java.lang.Integer">
        select count(*)
        from sys_dept
        where (id = #{sysDeptDto.parentId} and name = #{sysDeptDto.name})
           or (id = #{sysDeptDto.parentId} and seq = #{sysDeptDto.seq})
    </select>
    <select id="findLevelById" resultType="java.lang.String">
        select level
        from sys_dept
        where id = #{deptId}
    </select>
    <select id="countUsersByDeptId" resultType="java.lang.Integer">
        select count(*)
        from sys_user
        where status = 1
          and dept_id = #{deptId}
    </select>
    <select id="countSubDepts" resultType="java.lang.Integer">
        select count(*)
        from sys_dept
        where parent_id = #{deptId}
    </select>
    <select id="findAll" resultType="com.iflytek.auth.common.pojo.SysDept">
        select *
        from sys_dept;
    </select>
</mapper>
