<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.auth.common.dao.SysTenantUserMapper">

    <resultMap id="BaseResultMap" type="com.iflytek.auth.common.pojo.SysTenantUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,user_id,
        operator,operate_time,operate_ip
    </sql>

    <insert id="insertAll">
        INSERT INTO sys_tenant_user (tenant_id, user_id, operator, operate_time, operate_ip)
        VALUES
        <foreach collection="tenantUsers" item="tenantUser" separator=",">
            (
            #{tenantUser.tenantId},
            #{tenantUser.userId},
            <if test="tenantUser.operator != null and tenantUser.operator != ''">
                #{tenantUser.operator}
            </if>
            <if test="tenantUser.operator == null or tenantUser.operator == ''">
                'Admin'
            </if>,
            #{tenantUser.operateTime},
            #{tenantUser.operateIp}
            )
        </foreach>
    </insert>

    <delete id="deleteByTenantId">
        delete
        from sys_tenant_user
        where tenant_id = #{tenantId}
    </delete>
</mapper>
